/* Footer Styles */
footer {
    background-color: #1F0810;/* Matches navbar background color */
    color: #EDECEF; /* Matches navbar text color */
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -0.1px 10px rgba(255, 88, 51, 0.135); /* Adds a shadow above the footer with 50% opacity */
    z-index: 1000;
}

footer p {
    font-size: 1rem;
    font-weight: 500;
}

footer a {
    color: #ff5733; /* Accent color for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #EDECEF; /* Matches footer text color on hover */
}
