/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Geist", sans-serif;
    background-color: #0b0300;
    color: #EDECEF;            /* Matches the navbar and footer text color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}

/* Landing Page */
.landing-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    padding-top: 11%; /* Adjust this value to match the height of your navbar */
    padding-bottom: 15%; /* If there’s a bottom navbar as well */
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}

/* Demo Section */
.demo-section h2 {
    font-size: 2.5rem;
    color: #EDECEF;      /* Adjusted to light color for contrast on dark background */
    margin-bottom: 20px;
    font-weight: 600;
}

.demo-element {
    margin-top: 20px;
    margin-bottom: 20px;
}

.play-button {
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: #ff5733; /* Bright button color for attention */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 88, 51, 0.627); /* Light orange shadow with 30% opacity */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.play-button:hover {
    background-color: #ff8f33; /* Slightly lighter hover color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Partners Section */
.partners {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo-image {
    width: auto; /* Set a fixed width for both logos */
    height: 50px;  /* Ensures the logo maintains its aspect ratio */

}

/* Slogan and Partners Container */
.slogan-partners {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: flex-start;
    /* padding: 10%; Adds padding for spacing */
    gap: 40px; /* Adds space between the logo section and product description */
    /* max-width: 1000px; Adjust to control width if needed */
    /* margin: 2%; Centers the section on the page */
    /* flex-wrap: wrap; Enables wrapping on smaller screens */
    width: 100%;
}

/* Left-Aligned Logo Section */
.logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-description p {
    font-size: 100%;
    color: #EDECEF;
    text-align: left;
    word-wrap: break-word; /* Prevents text overflow */
    max-width: 100%; /* Controls width of the text block */
    min-width: 100%;
    text-align: justify; /* Block alignment for text */
}

/* Responsive Container */
.responsive-container {
    width: 100%;     /* Fills the full width of its container */
    max-width: 1200px; /* Limits the container width on larger screens */
    padding: 20px 20px;   /* Adds padding on the sides to avoid text touching the edges */
    margin: 2%;    /*Centers the container */
    box-sizing: border-box;
}

/* Features Section */
.features-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* padding: 20px; */
}

.feature-box {
    background-color: #292929; /* Darker background to stand out */
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 30%; /* Flexible width for desktop */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 300px;
    transition: transform 0.3s ease; /* Animation on hover */
}

.text-box {
    background-color: #292929; /* Darker background to stand out */
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    flex: 1 1 30%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    /* max-width: 300px; */
    transition: transform 0.3s ease; /* Animation on hover */
}

.text-box h3 {
    font-size: 1.3rem;
    color: #ff5733; /* Accent color for titles */
    margin-bottom: 10px;
}

.feature-box:hover {
    transform: translateY(-5px); /* Slight lift effect */
}

.feature-icon {
    width: 50px; /* Size of the icon */
    height: 50px;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 1.3rem;
    color: #ff5733; /* Accent color for titles */
    margin-bottom: 10px;
}

.feature-box p {
    text-align: justify;
    color: #EDECEF;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .features-section {
        flex-direction: column; /* Stack boxes vertically */
        align-items: center;
    }

    .feature-box {
        max-width: 100%; /* Full width on small screens */
        margin-bottom: 20px;
    }

    .slogan-partners {
        flex-direction: column; /* Switch to single-column layout on small screens */
        align-items: center;
    }

    .logo-section, .product-description {
        max-width: 100%; /* Allow full width for each section */
        text-align: center; /*Center text for a balanced appearance*/
        width: 100%; /* Adjust to full width */
        max-width: 100%;
    }
    .partners {
        flex-direction: column; /* Stack images in a column */
        gap: 40px; /* Adjust spacing between images for smaller screens */
        align-items: center; /* Center align images in the column */
        /* margin-bottom: 1px; */
    }

    .logo-image {
        height: 40px; /* Optional: Adjust logo size for smaller screens */
    }

    .landing-page {
        margin-top: 60px; /* Adjust this value to match the height of your navbar */
    }
    
}

    /* Typewriter animation */
.typewriter-container {
    display: inline-block;
    max-width: 100%;
    white-space: normal; /* Allows wrapping */
    overflow-wrap: break-word; /* Breaks long words */
}

.typewriter-text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 3s steps(30, end)
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Additional responsive styling */
@media (max-width: 768px) {
    .demo-element h2 {
        font-size: 1.5rem; /* Reduces font size on smaller screens */
    }
    .demo-section {
        padding: 0 10px; /* Adds padding for smaller screens */
    }
}



.play-button  {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
}
.features-section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease forwards;
}

.product-description {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 3s ease forwards;
}


.partners {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


