/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F0810;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(255, 88, 51, 0.05);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    /* Bottom Navbar */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F0810;
    padding: 20px;
    box-shadow: 0 -4px 10px rgba(255, 88, 51, 0.05);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EDECEF;
    text-decoration: none;
}

.navbar .logo a:hover {
    color: #ff5733;
}

.navbar nav {
    display: flex;
    gap: 20px; /* Adds space between navigation links */
}

.navbar nav a {
    text-decoration: none;
    color: #EDECEF; /* Matches the logo color */
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar nav a:hover {
    color: #ff5733;
    background-color: #1e0904;
    border-radius: 10px;
}

body {
    margin: 0.5%;
    padding: 0.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}


  
  