/* Navbar Wrapper */
.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F0810;
    box-shadow: 0 4px 10px rgba(255, 88, 51, 0.05);
    z-index: 1000;
    width: 100%;     /* Fills the full width of its container */
    padding: 20px 20px;   /* Adds padding on the sides to avoid text touching the edges */
    margin: 0 auto;    /* Centers the container */
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    background-color: aqua;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1F0810;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(255, 88, 51, 0.05);
    z-index: 1000;
    display:flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    max-width: 1200px; /* Limits the container width on larger screens */
    padding: 20px 20px;   /* Adds padding on the sides to avoid text touching the edges */
    margin: 0 auto;    /* Centers the container */
    box-sizing: border-box;
}

   /* Bottom Navbar */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F0810;
    padding: 20px;
    box-shadow: 0 -4px 10px rgba(255, 88, 51, 0.05);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #EDECEF;
    text-decoration: none;
}

.navbar .logo a:hover {
    color: #ff5733;
}

.navbar nav a {
    text-decoration: none;
    color: #EDECEF; /* Matches the logo color */
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar nav a:hover {
    color: #ff5733;
    background-color: #1e0904;
    border-radius: 10px;
}

.navbutton {
    /* background-color: #ff5733; */
    display: flex;
    gap: 2%; /* Adds space between navigation links */
}

.logo {
    /* background-color: #ff5733; */
    display: flex;
}

/* Highlighted AI in Orange */
.logo-highlight {
    color: #ff5733; /* Orange color */
}


body {
    margin: 0.5%;
    padding: 0.5%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
} 